# ----------------------------------------------------------------------
# KEYS
# ----------------------------------------------------------------------

NEXT_PUBLIC_GOOGLE_API_KEY = * # Key with referer restrictions (Important!)
GOOGLE_MATRIX_API_KEY = * # Key without referer restrictions

# ----------------------------------------------------------------------
# CREDENTIALS
# ----------------------------------------------------------------------

# Mailing
MAIL_USER = *
MAIL_PASS = *
MAIL_HOST = *
MAIL_PORT = *

# App
AUTH_PASSWORD = *

# ----------------------------------------------------------------------
# GOOGLE
# ----------------------------------------------------------------------

SHEET_ID = *

GOOGLE_TYPE = *
GOOGLE_PROJECT_ID = *
GOOGLE_PROJECT_NUMBER = *
GOOGLE_PRIVATE_KEY_ID = *
GOOGLE_PRIVATE_KEY = *
GOOGLE_CLIENT_EMAIL = *
GOOGLE_CLIENT_ID = *
GOOGLE_UNIVERSE_DOMAIN = *
GOOGLE_CALENDAR_ID = *

# ----------------------------------------------------------------------
# DATABASE
# ----------------------------------------------------------------------

POSTGRES_URL="************"
POSTGRES_PRISMA_URL="************"
POSTGRES_URL_NO_SSL="************"
POSTGRES_URL_NON_POOLING="************"
POSTGRES_USER="************"
POSTGRES_HOST="************"
POSTGRES_PASSWORD="************"
POSTGRES_DATABASE="************"