/* GLOBAL THEMING -------------------------------------------- */

:root {
  --header-background: #325d85;
  --button-text-color: #ffffff;
  --input-text-color: #000000;

  --scrollbar-background: #686868;
  --scrollbar-hover-background: #797979;
  --scrollbar-track-background: #1d1d1d;

  --scrollbar-modal-background: #4d4d4d;
  --scrollbar-modal-hover-background: #797979;
  --scrollbar-modal-track-background: #1d1d1d;
}

/* GENERAL ------------------------------------------------ */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: linear-gradient(90deg, #192a52 0%, #0a1529 100%);
  background-size: 200% 200%;
  -webkit-animation: BackgroundAnimation 15s ease infinite;
  -moz-animation: BackgroundAnimation 15s ease infinite;
  animation: BackgroundAnimation 15s ease infinite;
}

body {
  min-height: 100dvh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

main {
  scroll-margin-top: 64px;
  width: 100%;
}

input:not([type='checkbox']),
textarea {
  color: var(--input-text-color) !important;
}

/* BACKGROUND ----------------------------------- */

@-webkit-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 87%;
  }
  50% {
    background-position: 100% 14%;
  }
  100% {
    background-position: 0% 87%;
  }
}
@-moz-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 87%;
  }
  50% {
    background-position: 100% 14%;
  }
  100% {
    background-position: 0% 87%;
  }
}
@keyframes BackgroundAnimation {
  0% {
    background-position: 0% 87%;
  }
  50% {
    background-position: 100% 14%;
  }
  100% {
    background-position: 0% 87%;
  }
}
/* GLOBAL COMPONENTS ----------------------------------- */

.loading-page {
  height: calc(100vh - 150px);
}

/* SCROLLBAR ------------------------------------- */

::-webkit-scrollbar {
  height: 5px;
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-background);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover-background);
}

.modal {
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--scrollbar-modal-track-background);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-modal-background);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-modal-hover-background);
  }
}

/* UTILITIES */

.bg-glass {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(167, 167, 167, 0.3);
  max-width: 600px;
  position: relative;
  overflow: hidden;
  min-height: 500px;
}

.bg-ball {
  animation: BallMovement 10s infinite alternate;

  &:first-child {
    animation-delay: 0s;
  }

  &:nth-child(2) {
    animation-delay: 10s;
  }

  &:nth-child(3) {
    animation: BallMovementToTop 10s infinite alternate;
    animation-delay: 13s;
  }
}

@keyframes BallMovement {
  0% {
    translate: 0 0;
  }
  100% {
    translate: 0 50px;
  }
}

@keyframes BallMovementToTop {
  0% {
    translate: 0 0;
  }
  100% {
    translate: 0 -50px;
  }
}

.three-d-button {
  background: linear-gradient(0deg, #b2bbcc 0%, #ffffff 100%) !important;
  border: 0;
}

.three-d-button--red {
  background: linear-gradient(0deg, #995959 0%, #fc8e8e 100%) !important;
  color: #ffffff !important;
  border: 0;
}

.three-d-button--gray {
  background: linear-gradient(0deg, #797979 0%, #bdbdbd 100%) !important;
  color: #ffffff !important;
  border: 0;
}

.three-d-button--green {
  background: linear-gradient(0deg, #318538 0%, #46c44c 100%) !important;
  color: #ffffff !important;
  border: 0;
}

.three-d-button--primary {
  background: linear-gradient(0deg, #2d577c 0%, #4d74cf 100%) !important;
  color: #ffffff !important;
  border: 0;
}

.glass-ball {
  width: 200px;
  height: 200px;
  background-color: transparent;
  border: 2px dashed #dfdfdf;
  border-radius: 50%;
  position: absolute;
  top: -6rem;
  right: -6rem;
  animation: Rotate 60s infinite linear;
}

@keyframes Rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.flatpickr-mobile {
  position: absolute;
  bottom: 0;
}

.form__swal__link {
  color: #fc8e8e;
  text-decoration: underline;
  font-weight: bold;
}
